/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #F5F5DC;
}

/* Pasek kontaktowy u góry */
.top-bar {
  background: #333; /* Ciemne tło */
  color: #fff;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.top-bar .contact-info {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.top-bar .contact-info i {
  margin-right: 0.5rem;
}

/* Sekcja po prawej: ikony i przycisk */
.top-bar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Ikony social media */
.top-bar .social-links a {
  color: #fff;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: color 0.3s ease;
}

.top-bar .social-links a:hover {
  color: #806248;
}

/* Przyciski */
.btn-booksy-top {
  background: #a5907b;;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background 0.3s ease;
}

.btn-booksy-top:hover {
  background: #806248;
}

/* Responsywność dla telefonów */
@media (max-width: 768px) {
  .top-bar {
    display: none;
  }
}

/* Styl przycisków w nagłówku */
.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Nagłówek */
.hero {
  position: relative;
  height: 30vh; /* Domyślnie */
  background: url('tło.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  z-index: 1;
  animation: fadeIn 2s ease-in-out;
  max-width: 90%;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.75rem 2rem;
  background: #a5907b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #806248;
}

/* Imię i nazwisko w nagłówku */
.owner-name {
  font-size: 1.5rem;
  font-weight: 600;
  color: #D9BA8C; /* Podkreślenie eleganckim kolorem */
  margin-bottom: 0.5rem;
}

/* Responsywność dla telefonów */
@media (max-width: 768px) {
  .btn {
    display: none;
  }
}

/* Sekcja "O mnie" */
.about {
  padding: 2rem 1rem;
  background: #fff;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.about-text {
  width: 100%;
  text-align: center;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.about-text p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.about-text ul {
  list-style: none;
  padding: 0;
}

.about-text ul li {
  margin-bottom: 0.5rem;
  color: #555;
}

/* Zmniejszenie zdjęcia dla wersji mobilnej */
@media (max-width: 768px) {
  .about-image img {
    max-width: 250px; /* Dostosuj rozmiar */
    height: auto; /* Zachowanie proporcji */
  }
}

/* Sekcja Cennik */
.pricing {
  padding: 2rem 1rem;
  text-align: center;
  background: #d4cabc; /* Jasne tło */
}

.pricing h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #50311d; /* Brązowy kolor */
  font-family: 'Playfair Display', serif;
}

.pricing-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.pricing-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #f0f0f0;
}

.pricing-item:last-child {
  border-bottom: none;
}

.service {
  text-align: left;
  font-size: 1rem;
  color: #333;
}

.service p {
  font-size: 0.9rem;
  color: #777;
  font-style: italic;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: right;
  color: #806248;
}

.additional-info {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-style: italic;
  color: #50311d;
}

.pricing-button {
  text-align: center;
  margin-top: 20px;
}

.pricing-button .btn-booksy {
  display: inline-block;
  background: #a5907b; /* Dopasowany kolor */
  color: #fff;
  text-decoration: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.pricing-button .btn-booksy:hover {
  background: #806248;
}

@media (max-width: 768px) {
  .pricing-item {
    flex-direction: row; /* Ustawienie elementów w jednej linii */
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .service strong{
    font-size: 1rem;
    flex: 1; /* Pozwala na dopasowanie szerokości */
    text-align: left;
  }

  .service p{
    font-size: 0.8rem;
    flex: 1; /* Pozwala na dopasowanie szerokości */
    text-align: left;
  }
  
  .price {
    font-size: 1rem;
    font-weight: bold;
    color: #806248;
    flex-shrink: 0; /* Zapobiega ściskaniu ceny */
  }
}



/* Sekcja Kontakt */
.contact {
  padding: 2rem 1rem;
  text-align: center;
  background: #fff;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.contact-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.map-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.social-links a {
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #806248;
}

.social-links p {
  font-size: 1rem;
  color: #555;
}

/* Stopka */
footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
}

/* Animacje */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

/* Responsywność dla małych ekranów */
@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    text-align: left;
  }

  .about-image {
    flex: 1;
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .about-text {
    flex: 2;
    text-align: left;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .about-text h2 {
    font-size: 2.5rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }

  .pricing h2 {
    font-size: 2.5rem;
  }

  .contact h2 {
    font-size: 2.5rem;
  }

  .map-container iframe {
    height: 500px;
  }
}
